.nav_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    z-index: 2;
    position: absolute;
    bottom: 0;
    background-color: rgb(90, 198, 207); 
}
.nav_navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    background-color: rgb(90, 198, 207); 
}

button{
    background-color: rgb(241, 248, 250);
}

.item_footer{
    padding:5px;
}

.copyright{
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .nav_footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 2;
        background-color: hsl(182, 94%, 51%); 
    }
}

