.nav_header {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 45px;
    margin-top: 40px;
    position: fixed;
    z-index: 2;
    background-color:rgb(123, 202, 226); 
}

.item_header {
    padding:5px;
    align-items: right;
}

.item_footer{
    padding:5px;
    
}

@media only screen and (max-width: 600px) {
    .nav_header {
        display: flex;
        flex-direction: column;
        margin-bottom: 45px;
        margin-top: 40px;
        position: fixed;
        z-index: 2;
        background-color:rgb(123, 202, 226); 
    }
}

